{% extends 'homeOfi.html' %}
{% load static %}

{% block titulo %}
    <div class="col-sm-8" style="text-align: left;">
        <h1 class="mb-0 fw-bold">TCC - Misión</h1>
    </div>
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row">
                        <h4>
                        Ofrecer soluciones de calidad para las diversas problemáticas 
                        de cada uno de nuestros clientes, implementando software personalizado, y así lograr una satisfacción concreta,
                        mejorando y aumentando la productividad y eficiencia de las soluciones desarrolladas y adaptadas a las 
                        necesidades solicitadas. </h4>
        </div>
    </div>
{% endblock contenido %}

