{% extends 'homeOfi.html' %}
{% load static %}

{% block titulo %}
    <div class="col-sm-8" style="text-align: left;">
        <h1 class="mb-0 fw-bold">TCC - Visión</h1>
    </div>
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row">
                <ul>
                  <li><h5>Ser un líder mundial en el desarrollo de soluciones de software innovadoras.</h5></li>
                  <li><h5>Proporcionar soluciones de software que mejoren la calidad de vida de las personas.</h5></li>
                  <li><h5>Ser una empresa cuyos servicios puedan ser fácilmente accesibles a la mayoría de los clientes.</h5></li>
                  <li><h5>Crear software de calidad y original.</h5></li>
                </ul>            
        </div>
    </div>
{% endblock contenido %}

